/*
* @Author: fanger
* @Date:   2018-04-16 12:37:52
* @Last Modified by:   fanger
* @Last Modified time: 2018-04-19 14:54:53
*/

@charset "UTF-8";

body {
	background: #eee url(./images/head.jpg);
}

#app {
  width: 500px;
  height: 500px;
  box-shadow: 3px 5px 5px #f00;
}

@media (min-resolution: 2dppx) {
    .image {
      background-image: #eee url(./images/head.jpg);
    }
}

::placeholder {
  color: yellow;
}