/*reset*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,img,div,dl,dt,dd,input { margin:0; padding:0; }
body {font:14px/1.5  "Microsoft YaHei";}
input, select, textarea { outline:none; border:none; background:none; }
img { border:none; }
li { list-style:none;}
a,a:hover,a:focus { text-decoration: none;}
.clearfix:before,
.clearfix:after {content:""; display:block; clear:both;}
.clearfix { *zoom:1; }
.fl { float: left; }
.fr { float: right; }
i,span,em,img,a {font-style: normal; font-weight: normal;} 
.fz12 {font-size: 12px!important;}
.fz16 {font-size: 16px!important;}
.text-justify {
    overflow: hidden;
    text-align: justify;
    text-align-last: justify;
}
.text-justify:after{
    display: inline-block;
    content: '';
    // width: 100%;
    height: 0;
    overflow: hidden;
    line-height: 1.8;
}
.pad0 {padding: 0!important}
.pdt0 {padding-top: 0!important}
.opacity0 {
    opacity: 0!important;
}
.mt10 {margin-top: 10px!important;}
.mt30 {margin-top: 30px!important;}
.bdr0 {border-right: 0!important}
.bdl0 { border-left:0!important}

label { margin-bottom: 0;}
select.input-sm {
    padding-left: 6px;
}
.red {color:#f00!important;}
.green {color:#13ab13!important;}
.maincolor {color:#0e74d7!important;}

.bold { font-weight: 700;}
.splitline hr {
    border-top: 1px dashed #e5e5e5;
}
.input-size { width: auto!important;}
input[type=radio][readonly], input[type=checkbox][readonly] {
    cursor: not-allowed;
}

/* SCSS variable */
$btn-main-color: #0e74d7;
$btn-main2-color: #118bde;
$btn-greyweak-color: #f9f9f9;
$font-main-color: #333;
$font-mid-color: #666;
$font-light-color: #999;
$white: #fff;
$border-grey: 1px solid #ccc;


 /*  ----------按钮：主色，次色，白色，灰色----------- */
@mixin btn {
    display: inline-block;
    padding: 7px 18px;
    color: $white;
}
.btn:focus,
.btn:hover { color: #fff;}
.btn-main {
    @include btn;
    background-color: $btn-main-color;
    &:hover {
        color: $white;
    }
}
.btn-main2 {
    @include btn;
    background-color: $btn-main2-color;
    border: none;
    &:hover {
        color: $white;
    }
}
.btn-red {
    @include btn;
    background-color: red;
    border: none;
    &:hover {
        color: $white;
    }
}
.btn-green {
    @include btn;
    background-color: #00B83F;
    border: none;
    &:hover {
        color: $white;
    }
}
.btn-greyweak {
    @include btn;
    background-color: $btn-greyweak-color;
    border: 1px solid #d5d5d5;
    color: $font-mid-color;
    padding: 6px 17px;
    &:hover,
    &:focus {
        color: $font-mid-color;
    }

}
.btn-white {
    @include btn;
    background-color: $white;
    border: $border-grey;
    padding: 7px 17px;
    color: $font-mid-color;
}
