/*!
* @Author: Teaism
* @Date:   2016-11-18 10:47:08
* @Last Modified by:   Teaism
* @Last Modified time: 2017-08-15 15:04:51
*/

@import "reset";
// @import "header";
@import "searchList";
@import "modalDialog";

body {
    width: 100%;
    // min-width: 1360px;
    // width: 1360px;
    box-sizing: border-box;
    background-color: $white;
    color: $font-main-color;
    overflow: auto;
    // overflow: hidden;

}
@media screen and (max-width: 1360px) {
    body {
        width: 1340px;
    }
}
.popIframe {
    border: none;
}
iframe[name="headIframe"] {
    width: 100%;
    height: 52px;
    
}
.main-container {
    width: 100%;
    // min-height: 648px;
    padding-left: 20px;
    margin-top: -6px;
    background-color: $white;
    box-sizing: border-box;
    
    &:before {
        background-color: #f4f3f1;
    }
}
.cur-position {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: $font-light-color;
    a {
        color: $font-main-color;
    }
}
.form-control {
    font-size: 12px;
    color: #000;
}
.form_date,
.form_datetime {
    .form-control[disabled], .form-control[readonly] {
        background: #fff;
    }
}

.layui-layer {
    border-radius: 0;
}
.layui-layer-tab .layui-layer-title span.layui-layer-tabnow,
.layui-layer .layui-layer-title {
    background: #474d55!important;
    border-radius: 0;
    color: #fff!important;
    font-size: 16px;
}
.layui-layer .layui-layer-setwin .layui-layer-min cite {
    color: #fff;
}
.layui-layer .layui-layer-btn a {
    border-radius: 0;
    height: 32px;
    line-height: 32px;
}

/* .table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 1px 5px;
} */

.datetimepicker .table-condensed>tbody>tr>td {
    padding: 1px 5px;
}
.datetimepicker .datetimepicker-minutes span {
    height: 20px;
    line-height: 20px;
}

.glyphicon {
    cursor: pointer;
}



