/* 
* @Author: Teaism
* @Date:   2017-05-31 11:46:16
* @Last Modified by:   Teaism
* @Last Modified time: 2017-08-02 18:03:38
*/

.main-container {
    padding-bottom: 30px;
    width: calc(100% - 20px);
}
/* @media screen and (max-width: 1360px) {
    .main-container {
        width: 100%;
    }
} */
.form-add {
    margin-top: 20px;
    
    & > div {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px dotted #ddd;

        & h4 {
            margin-bottom: 10px;
        }
    }
    .form-control {
        width: 192px;
        border-radius: 3px;
    }
    .form_datetime .form-control,
    .form_date .form-control {
        width: 152px;
    }
    .form-group-wrap {
        overflow: hidden;

        &.height0 {
            height: 0;
        }
    }
    .form-group {
        margin-right: 130px;
        margin-bottom: 10px;
    }
    .fullline textarea {
        width: 592px;
        font-size: 12px;
        resize: none;
    }

    label.error {
        display: inline-block!important;
        position: absolute;
        z-index: 9;
        width: 120px;
        margin-top: 3px;
        font-size: 12px;
        font-weight: 400;
        color: #d9534f;
    }
    .input-group label.error {
        margin-left: 40px;
    }
    .delete-btn {
        display: none;
    }
}

.checkbox {
     label {
        width: auto;
        margin-right: 10px;
        font-weight: 400;
        vertical-align: middle;
    }
    input[type=radio], input[type=checkbox] {
        vertical-align: middle;
        margin-top: 0;
    }
}

