/* 
* @Author: Teaism
* @Date:   2016-12-23 17:12:37
* @Last Modified by:   Teaism
* @Last Modified time: 2017-12-12 17:01:32
*/

/*reset*/
@import "reset";

/*  --------main: head 头部公用----------   */  
// header

#manage_body {
    overflow: hidden;
}
header {
    width: 100%;
    min-width: 1360px;
    height: 52px;
    background: url(../../images/login/header-bg.png) no-repeat left top;
    background-size: 100% 52px;
    color: $white;
}
nav {
    min-height: 52px;

    .dropdown > a {
        display: inline-block;
        position: relative;
        height: 48px;
        margin-top: 2px;
        padding: 0 20px;
        line-height: 48px;
        color: $white;
        text-align: center;
        vertical-align: middle;
        user-select:none;

        &:hover,
        &.cur {
            background-color: $btn-main-color;
            color: $white;
        }
    }
    
    .dropdown li {
        vertical-align: middle;
        text-align: center;
        &:hover a {
            color: $white;
        }
    }
    .dropdown-menu {
        margin: 0;
        background: #092343;
        border-radius: 0;
    }
    .dropdown-menu>li>a {
        padding: 20px;
        color: #fff;
    }
    .dropdown li:hover,
    .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus  {
        background-color: $btn-main-color;
        vertical-align: middle;
    }
    .dropdown-submenu {
        position: relative;
        border-radius: 0;
    }
    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: -1px;
    }
    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
    .dropdown-submenu.pull-left {
        float: none;
    }
    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: 10px;
    }

}
// userbox
.userbox {
    position: absolute;
    top: 0;
    right: 0;
    // width: 150px;
    background: rgba(18, 36, 54, 50);
    cursor: pointer;
    &:hover .userset {
        display: block;
    }
    .userhead {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .userinfo  {
        line-height: 52px;
        font-size: 14px;
    }
    .glyphicon {
        font-size: 14px;
        margin-right: 10px;
        margin-left: 6px;

    }
}
.userset {
    display: none;
    position: absolute;
    top: 52px;
    right: 0;
    z-index: 10;
    // width: 150px;
    width: 100%; 
    box-sizing: border-box; 
    background-color: rgba(10, 36, 62, 90);
    font-size: 14px;
    text-indent: 8px;
    
    a {
        display: block;
        width: 100%;
        margin-right: 12px;
        line-height: 44px;
        color: $white;
        cursor: pointer;

        &:hover,
        &.cur {
            background-color: $btn-main-color;
            color: $white;
        }
    }
}


