/* 
* @Author: Teaism
* @Date:   2017-04-11 16:26:45
* @Last Modified by:   Teaism
* @Last Modified time: 2017-07-28 15:48:03
*/

/* SCSS variable */
$btn-main-color: #0e74d7;
$btn-main2-color: #118bde;
$btn-greyweak-color: #f9f9f9;
$font-main-color: #333;
$font-mid-color: #666;
$font-light-color: #999;
$white: #fff;
$border-grey: 1px solid #ccc;


html, 
body {
    width: 100%;
}

.poplayer {
    padding: 15px;
}
.poplayer .row {
    // width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.poplayer .row.border-bt{
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px dotted #ddd;
}
.poplayer tr.splitline hr {
    border-top: 1px dashed #e5e5e5;
}
.poplayer table .form-group,
.poplayer .table .form-group {
    padding-top: 5px;
    padding-bottom: 5px;
}
// .poplayer.modal-lg .form-group label:first-child
.poplayer .form-group label:first-child {
    margin-top: 5px;
}
.input-group-addon {
    background-color: #fff;
}
.poplayer td div.col-xs-6:last-of-type,
.poplayer .td div.col-xs-6:last-of-type,
.poplayer td div.col-xs-10:last-of-type,
.poplayer .td div.col-xs-10:last-of-type {
    padding: 0;
}
// 添加客户照片
.poplayer .add-client-photo {
    width: 102px;
    height: 126px;
    margin-top: -126px;
}
.poplayer .client-photo {
    width: 102px;
    height: 126px;
}
.poplayer .client-photobox {
    margin-top: -16px;
    vertical-align: top;
}

// 验证提示文字位置
.poplayer label.error {
    float: right;
    width: 120px;
    margin-top: -26px;
    margin-right: -123px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #d9534f;
}
.poplayer .input-group label.error {
    position: relative;
    top: 32px;
    left: 40px;
}
.poplayer .fullline label.error {
    margin-right: -66px;
}
.poplayer .form-onecol .fullline label.error {
    margin-right: -122px;
}
 
// 弹框form只有1列的
.poplayer .form-onecol {
    // width: calc(100% - 46px);
    margin-left: 46px;
    padding: 0;
}
// 弹框最后一行整行 textarea 。fullline表示整行
.poplayer .fullline textarea {
    // width: 350px;
    width: 608px;
    max-height: 56px;
    font-size: 12px;
    resize: none;
}
.poplayer .fullline label:first-child {
    width: 96px;
}
.poplayer .form-onecol .fullline textarea {
    // width: 578px;
    width: 284px;
    max-height: 80px;
}

// 删除警告弹框css
/* .poplayer .btn.btn-danger {
    margin-left: -142px;
} */
// 弹框查看页面
#viewForm .form-group .form-control {
    border: none;
    box-shadow: none;
}
// 自动联想查询
.autocomplete-suggestions {
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: $border-grey;
    border-top: none;
    background-color: $white;
    line-height: 24px;
    text-indent: 10px;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: $btn-main2-color;
    color: $white;
}


.form-horizontal .checkbox {
   padding-top: 0;
}

.poplayer .checkbox label.error {
    margin-top: 2px;
    margin-right: -248px;
}








