/* 
* @Author: Teaism
* @Date:   2016-12-23 17:09:40
* @Last Modified by:   Teaism
* @Last Modified time: 2017-07-28 15:48:13
*/

/* SCSS variable */
$btn-main-color: #0e74d7;
$btn-main2-color: #118bde;
$btn-greyweak-color: #f9f9f9;
$font-main-color: #333;
$font-mid-color: #666;
$font-light-color: #999;
$white: #fff;
$border-grey: 1px solid #ccc;

/* ---------bootstrap  dialog  弹出框--------- */
.modal-dialog {
    visibility: hidden;
    z-index: 1090;
}
.modal-dialog .close {
    color: $white;
    font-size: 22px;
    opacity: 1;
}
.modal-dialog .btn {
    margin: 0 15px;
}
.bootstrap-dialog-footer-buttons {
    text-align: center;
}
// 弹框header顶部css
.modal-header {
    cursor: pointer;
    padding: 8px 15px 8px 25px;
}
.bootstrap-dialog .modal-header,
.modal-content,
.modal-dialog .btn {
    border-radius: 0;
}
.bootstrap-dialog.type-primary .modal-header {
    background-color: #474d55;
}
.modal-dialog .row {
    // width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.modal-dialog.modal-lg .row {
    width: 860px;
}
.modal-dialog table .form-group {
    padding-top: 5px;
    padding-bottom: 5px;
}
// .modal-dialog.modal-lg .form-group label:first-child
.modal-dialog .form-group label:first-child {
    margin-top: 5px;
}
.input-group-addon {
    background-color: $white;
}
.modal-dialog td div.col-sm-6:last-of-type,
.modal-dialog td div.col-sm-10:last-of-type {
    padding: 0;
}
// 添加客户照片
.modal-dialog .add-client-photo {
    width: 102px;
    height: 126px;
    margin-top: -126px;
}
.modal-dialog .client-photo {
    width: 102px;
    height: 126px;
}
.modal-dialog .client-photobox {
    margin-top: -16px;
    vertical-align: top;
}
// 验证提示文字位置
.modal-dialog label.error {
    float: right;
    width: 120px;
    margin-top: -26px;
    margin-right: -123px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    color: #d9534f;
}
.modal-dialog .input-group label.error {
    position: relative;
    top: 32px;
    left: 40px;
}
.modal-dialog .fullline label.error {
    margin-right: -66px;
}
.modal-dialog .form-onecol .fullline label.error {
    margin-right: -122px;
}
 
// 弹框form只有1列的
.modal-dialog .form-onecol {
    margin-left: 46px;
    padding: 0;
}
// 弹框最后一行整行 textarea 。fullline表示两列
.modal-dialog .fullline textarea {
    // width: 350px;
    width: 284px;
    max-height: 80px;
    font-size: 12px;
    resize: none;
}
.modal-dialog.modal-lg .fullline label:first-child {
    width: 96px;
}
.modal-dialog.modal-lg .fullline textarea {
    // width: 578px;
    width: 608px;
    max-height: 56px;
}
// 删除警告弹框css
/* .bootstrap-dialog .btn.btn-danger {
    margin-left: -142px;
} */
// 弹框查看页面
#viewForm .form-group .form-control {
    border: none;
    box-shadow: none;
}
// 自动联想查询
.autocomplete-suggestions {
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: $border-grey;
    border-top: none;
    background-color: $white;
    line-height: 24px;
    text-indent: 10px;
    cursor: pointer;
}
.autocomplete-suggestion:hover {
    background-color: $btn-main2-color;
    color: $white;
}

// text-overflow: ellipsis;

