/* 
* @Author: Teaism
* @Date:   2016-12-23 17:09:40
* @Last Modified by:   Teaism
* @Last Modified time: 2017-07-28 16:25:51
*/

/* SCSS variable */
$btn-main-color: #0e74d7;
$btn-main2-color: #118bde;
$btn-greyweak-color: #f9f9f9;
$font-main-color: #333;
$font-mid-color: #666;
$font-light-color: #999;
$white: #fff;
$border-grey: 1px solid #ccc;


/*   ------查询重置------  */

.form-search {
    .form-inline {
        border-bottom: 1px solid #eaeaea;
        & > .form-group label.error {
            width: auto;
            font-size: 12px;
            font-weight: 400;
            color: #d9534f;
        }
        
    }
    label {
        width: 70px;
        vertical-align: middle;
        font-weight: 700;
    }
    .form-control {
        width: 150px;
        border-radius: 0;

        &.inputlen-half {
            width: 64px;
        }
        &.inputlong {
            width: 224px;
        }
    }
    .form-group {
        display: inline-block!important;
        margin-right: 60px;
        margin-bottom: 10px;
    
    &:last-child { margin-right: 0; }
    }
    .form-control {
        color: #000;
    } 
    select {
        color: $font-light-color;
    }
    .form-newadd {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .input-group-addon {
        width: 14px;
        background-color: $white;
    }
    .form_date .form-control {
        width: 100px;
    }
    .form_datetime .form-control {
        width: 140px;
    }
}


/*  ------------数据table列表展示-------------  */
.table-showlist {
    width: 100%;
    // min-width: 1318px;
    // height: 404px;
    margin-top: 20px;
    // overflow: auto;
    /* &.ht-sm {
        height: 380px;
    } */
    th {
        white-space: nowrap
    }
}

/* @media screen and (min-width : 1366px) {
    .table-showlist {
        height: 404px;
        &.ht-sm {
            height: 380px;
        }
    }
} */
.table-showlist .row:last-child {
    background-color: $white;
    padding: 0;
    border: none;
    line-height: 34px;
    text-align: right;
    font-size: 12px;
}
.table-showlist label {
    font-size: 12px;
}
.table-showlist .tr-twolevel {
    background-color: #f9f9f9;
}
.table-showlist .row:last-child .col-sm-6:first-child {
    text-align: left;
}
 /*  -----------翻页-----------  */
.footer {
    width: 100%;
    // min-width: 1138px;
    line-height: 30px;
    .selectshownum {
        padding: 0 2px;
        box-sizing: border-box;
    }
    .ft-jump {
        padding: 0 5px;
    }
    .input-jump {
        padding: 5px;
        text-align: center;
    }
    .flip, .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
    }
}
.flip {
    .btn-white {
        width: 36px;
        height: 30px;
        padding: 0;
        text-align: center;
        line-height: 30px;
        &:first-child,
        &:last-child {
            width: 56px;
        }
        &.cur,
        &:hover {
            background-color: $btn-main2-color;
            color: $white;
        }
    }
}

@media screen and (max-width: 1360px) {
    .footer {
        width: 1310px;
    }
}
